@charset "utf-8";

* {
  margin : 0; padding : 0; border : 0; text-decoration: none;
  list-style-type: none;
}

html {-ms-text-size-adjust:none; -webkit-text-size-adjust:none;overflow-y:scroll;}
html, body {width:100%; height:100%; font-size:15px;}

select {
  background-color : #ffffff;
}

#sidemenu {
  background-color : #3262ad;
}

button, input, select, textarea {margin:0; font-size:100%; vertical-align:baseline; *vertical-align:middle;}
label, select, input, button {vertical-align:middle;}
input, textarea, select, button {font-size:1em;  vertical-align:baseline; vertical-align:middle;}
button, select {text-transform:none;}
select{height:28px; padding:3px; margin:0; border:1px solid #cccccc; cursor:pointer; box-sizing:border-box; border-radius:0;}

.srch{padding:0 10px 25px 17px}
.srch select{ font-size:12px; letter-spacing:-1px; height:34px; border:none; width:125px; box-sizing:border-box; padding-left:5px; }

.srch input[type="submit"]{width:36px; text-align:center; box-sizing:border-box; padding: 7px 5px; position:relative; left:-5px; background:#868686; border:1px solid #868686; color : white}

#left_2 li a:visited {
  color : #444;
}

#left_2 li:first-child {
  border-top : none;
}

#left_2 {
  border-bottom:1px solid #d1d1d1;
}

#left_2 li a {
  background-color:#ebebeb;
  letter-spacing:-1px
  color : #444;
  font-size : 13px;
    padding : 11px 26px;
    display:block;

    border-top:1px solid #d1d1d1;
}

#left_3 {
  font-size : 12px;
}

#left_3 li a {
  color : #444;
  display : block;
  padding : 2px 9px;
}
#left_3 li a:visited {
  color : #444;
}
#left_3 li a:nth-child(3) {
  font-weight: bold;
}

.accordion_active {
  display: block;
  animation: accordionIn 0.45s normal ease-in-out both 1;
}

.accordion_unactive {
  display : none;
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9);
       }
}

#sidemenu li:first-child {
  border-top : none;
}

#sidemenu li a {
  display:block; color:#fff; padding:14px 20px 14px 23px; border-top:1px solid #4772b5; letter-spacing:-1px
}

#sidemenu li ul {
  padding-top : 13px;
  font-size : 13px;
  background-color : #042137;
  padding-bottom : 13px;
}

#sidemenu li ul li {}

#sidemenu li ul li a {
  border : none;
  padding:5px 20px 5px 23px;
}

a:hover {
  text-decoration: underline;
}

#slide {
  height : 482px;
}

#book {
  height : 182px;
}

#wrap {
  margin : 0 auto;
  height : auto;
  max-width : 1300px;
}

#header {
  width : 100%;
  height : 60px;
}

#logo {
  width : 196px;
  float : left;
}

#container {
  width : 100%;
}

#sidebar {
  height : 100%;
  background-color : #ebebeb;
  width : 196px;
  float : left;
}

#main { background:#FFF; color : black;}
