@charset "utf-8";

* {
  margin : 0; padding : 0; border : 0; text-decoration: none;
  list-style-type: none;
}

html {-ms-text-size-adjust:none; -webkit-text-size-adjust:none;overflow-y:scroll;}
html, body {width:100%; height:100%; font-size:15px;}

select {
  background-color : #ffffff;
}

#sidebar #sidemenu {
  background-color : #3262ad;
}

#controller {
  position:absolute;
  width:280px;
  height:20px;
  z-index:99;
}

#controller > ul {
  position:absolute;
  left:60px;
  top:3px;
  width:auto;
  height:18px;
  text-align:center;
   z-index:99999999;
}

#slide_wrap #controller > ul > li {
  display:block;
  margin-right:10px;
  z-index:20;
  position:relative;
  width:auto;
  height:auto;
  top:auto;
  left:auto;
  float:left;
}

#controller > ul > li > a {
  overflow:hidden;
 display:block;
 width:9px;
 height:9px;
 text-indent:-10000px;
 background:#fff;
 -webkit-transition:all .5s ease;
 transition:all .5s ease;
 border-radius:9px;
 opacity : 0.03;
}

#controller > ul > li > a.on {
  background:#4474d3;
  width:71px;
  height:15px;
  opacity : 0.45;
  margin:-3px 0 0 0;
}

#controller > ul > li > a:hover, #controller > ul > li > a:active {
  background:#4474d3;
  opacity : 0.45;
}

button, input, select, textarea {margin:0; font-size:100%; vertical-align:baseline; *vertical-align:middle;}
label, select, input, button {vertical-align:middle;}
input, textarea, select, button {font-size:1em;  vertical-align:baseline; vertical-align:middle;}
button, select {text-transform:none;}
select{height:28px; padding:3px; margin:0; border:1px solid #cccccc; cursor:pointer; box-sizing:border-box; border-radius:0;}

.srch{padding:0 10px 25px 17px}
.srch select{ font-size:12px; letter-spacing:-1px; height:34px; border:none; width:125px; box-sizing:border-box; padding-left:5px; }

.srch input[type="submit"]{width:36px; text-align:center; box-sizing:border-box; padding: 7px 5px; position:relative; left:-5px; background:#868686; border:1px solid #868686; color : white}

#left_2 li a:visited {
  color : #444;
}

#left_2 li:first-child {
  border-top : none;
}

#left_2 {
  border-bottom:1px solid #d1d1d1;
}

#left_2 li a {
  background-color:#ebebeb;
  letter-spacing:-1px
  color : #444;
  font-size : 13px;
    padding : 11px 26px;
    display:block;

    border-top:1px solid #d1d1d1;
}

#left_3 {
  font-size : 12px;
}

#sidebar #left_3 li a {
  color : #444;
  display : block;
  padding : 2px 9px;
}
#sidebar #left_3 li a:visited {
  color : #444;
}
#sidebar #left_3 li a:nth-child(3) {
  font-weight: bold;
}

.accordion_active {
  display: block;
  animation: accordionIn 0.45s normal ease-in-out both 1;
}

.accordion_unactive {
  display : none;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}


#sidebar #sidemenu > li:first-child {
  border-top : none;
}

#sidebar #sidemenu > li > a {
  display:block; color:#fff; padding:14px 20px 14px 23px; border-top:1px solid #4772b5; letter-spacing:-1px
}

#sidebar #sidemenu > li > ul {
  padding-top : 13px;
  font-size : 13px;
  background-color : #042137;
  padding-bottom : 13px;
}

#sidebar #sidemenu > li > ul > li {}

#sidebar #sidemenu > li > ul > li > a {
  border : none;
  padding:5px 20px 5px 23px;
}

a:hover {
  text-decoration: underline;
}

#slide_wrap {
  height : 482px;
  position:relative;
}

#slide_wrap > ul {
  width:100%;
 height:100%;
 position:absolute;
 overflow:hidden;
}

#slide_wrap > ul > li {
  width:100%;
   height:100%;
   position:absolute;
   left:0;
   top:0;
   opacity:0;
   z-index:1;
   background-size:cover !important;
}

#slide_wrap > ul > li > a {
  display:block;
 width:100%;
 height:100%;
}

#slide_wrap > ul > li:first-child {
 display:block;
 opacity:1;
 z-index:2;
}

#book {
  float : none;
  height : 182px;
  width : 100%;
  display: table; overflow: hidden;
  text-align: center;
  background-color : yellow;
  font-size : 23pt;
}

#book > div {
  width : 100%;
  height : 100%;
  display: table-cell;
  vertical-align: middle;
}

#book > div > a, #book > div > a:active {
  color : #101010;
}



#wrap {
  margin : 0 auto;
  height : auto;
  max-width : 1300px;
}

#header {
  width : 100%;
  height : 60px;
}

#logo {
  width : 196px;
  float : left;
}

#container {
  width : 100%;
}

#sidebar {
  height : 100%;
  background-color : #ebebeb;
  width : 196px;
  float : left;
}

#main { background:#FFF; color : black; margin-left:196px;}
